---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import "../styles/backgroundanimation.css";
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import balance_font from "../assets/images/balance_font.png";
import mockup1 from "../assets/images/mockup1.png";
import mockup2 from "../assets/images/mockup2.png";
import mockup3 from "../assets/images/mockup3.png";
import proces1 from "../assets/images/proces1.png"
import proces2 from "../assets/images/proces2.png"
const images = await Astro.glob("/src/assets/images/galleri/*").then(files => {
  return files.map(file => file.default);
});
---
<MainLayout title="Titel">
<<<<<<< HEAD
	 <style>
        /* Custom styles */
        .green-line {
            border-bottom: 2px solid #00FF00; /* Green line */
        }
        .square {
            width: 200px;
            height: 200px;
            border: 2px solid #00FF00; /* Green border */
        }
    </style>
</head>

<body>
    <div class="container mx-auto">
        <!-- Green line -->
        <div class="green-line mb-4"></div>
        
        <!-- Picture -->
        <div class="text-center mb-4">
			<Image src={balance_font} alt="Københavnerbilleder bogforside" class="mx-auto" />
        </div>
        
        <!-- Square with text -->
        <div class="text-center">
            <div class="square mx-auto flex items-center justify-center">
                <p class="text-center px-4">Ideen bag denne typografi er at skabe en balance mellem det bløde og hårde, kantede og formede, udadvendte og indadvendte</p>
            </div>
        </div>
    </div>
</body>
	<!-- 
=======

>>>>>>> f063f1a8b67d8c146cc50c46d21a0c420dc612f0
	<h1 id="herounit" class="text-4xl md:text-7xl mb-8">Københavnerbilleder</h1>
		<section class="grid md:grid-cols-2 border-8 border-black">		
			<div class="">
				<Image src={bogforside} alt="Københavnerbilleder bogforside" class="" />
			</div>
			<div class="text-4xl p-8 grid content-center bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%">					
				<p>Københavnerbilleder Test - En guide til hipster foto af Sten Simons</p>
				<p class="mb-8">Køb den før din nabo!</p>
				<Button variant="primary" size="medium">Køb nu!</Button>
			</div>
		</section>
=======
	
<h1 id="herounit" class="text-4xl md:text-6xl mb-8 text-center pt-20 pb-10 text-indigo-700 font-bold color-change-animation">Københavnerbilleder</h1>
<section class="grid md:grid-cols-2 ">		
    <div class="bogbillede">
        <Image src={bogforside} alt="Københavnerbilleder bogforside" class="rounded-l-lg" />
    </div>
    <div class="text-4xl p-8 grid content-center bg-zinc-900 rounded-r-lg">					
        <p class="font-semibold pb-4 text-3xl text-yellow-600">Københavnerbilleder - En guide til hipster foto af Sten Simons</p>
        <p class="mb-8 text-lg text-yellow-600">Køb den før din nabo!</p>
        <Button variant="primary" size="medium" class="animate__animated animate__heartBeat">Køb nu!</Button>
    </div>
</section>
>>>>>>> dd45100d805b16512abe7807b901084945ae622c


		<section id="bogen" class=" grid lg:grid-cols-2 prose mx-auto gap-4">
			<article  >
				<h2 class="text-2xl">Kort om bogen</h2>
				<p>Københavnerbilleder er de danske streetfotografers bibel: Det er en fusion mellem et kunstværk og en lærebog. Bogen gennemgår alle væsentlige aspekter af streetfotografering fra grundlæggende teknik til kreative eksperimenter. Alt sammen krydret med masser af inspirerende fotos. God læselyst!</p>
			</article>
			<article >
				<h2 class="text-2xl text-indigo-700">Quickfacts om bogen</h2>
				<ul class="marker:text-indigo-700">
					<li>Titel: Københavnerbilleder - en guide til hipster foto</li>
					<li>Forfatter: Sten Simons</li>
					<li>Antal sider: 344</li>
					<li>Forlag: Mellem Linjerne</li>
					<li>ISBN: 987-6-987654-32-1</li>
					<li>Pris: 399.-</li>
				</ul>
			</article>
		</section>
		

		<section class="mt-20 grid lg:grid-cols-3 mx-auto gap-4">
			<div class="bogfadein"><Image src={bogopslag} format="webp" alt="Københavnerbilleder midtersideopslag" class="my-class rounded-lg" /></div>
			<div class="bogfadein2"><Image src={bogopslag2} format="webp" alt="Københavnerbilleder midtersideopslag" class="my-class rounded-lg" /></div>
			<div class="bogfadein3"><Image src={bogforside} format="webp" alt="Sten Simons - Københavnerbilleder" class="my-class rounded-lg" /></div>
		</section>

		<section class="mt-20 bg-zinc-900 rounded-lg section-background-animation ">
			<h2 class="text-4xl font-bold text-indigo-700 mb-8 pl-6 pt-6">Anmeldelser</h2>
			<div class="grid grid-cols-1 lg:grid-cols-3 mx-auto gap-4 pb-4">
				<article class="prose mb-6 pl-6 ">
					<span class="font-bold text-yellow-600 ">5 af 6 stjerner</span>
					<p class="text-slate-300">Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant. Hvad enten du er har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder, er der masser af tips og tricks i bogen.</p>
					<p class="italic text-slate-300">Hanne Hovgaard, Berlingeren</p>
				</article>
				<article class="prose mb-6 pl-6">
					<span class="font-bold text-yellow-600">4 af 5 stjerner</span>
					<p class="text-slate-300">Teksten er underholdende, og billederne er sku’ flotte. Hvad mere skal man sige om en fotobog?</p>
					<p class="italic text-slate-300">Kim Kloggaard, Fotojournalen.dk</p>
				</article>
				<article  class="prose mb-6 pr-6 pl-6 ">
					<span class="font-bold text-yellow-600">6 af 6 stjerner</span>
					<p class="text-slate-300">Sten Simons kan det der - og han bliver bedre og bedre. Stens tredje fotobog er klart den bedste - her er han for alvor i sit rette element, meget bedre end “studiefotografering som begyndere.” Tillykke - godt arbejde.</p>
					<p class="italic text-slate-300">Volmer Hansen, Lukkertiden.dk</p>
				</article>
			</div>
		</section>

		<section class="mt-20">
			<h2 class="text-4xl font-bold text-yellow-600">Bogens kapitler</h2>
			<div class="grid grid-cols-1 lg:grid-cols-2 mx-auto mt-4 gap-8">
				<article class="prose">
					<h3 class="text-xl text-indigo-700 drop-shadow-md">Kapitel 1 - Intro til street foto</h3>
					<p>Hvad er street foto? Det handler i bund og grund om at skyde byens liv og byens geometri (urban geometry). I dette kapitel får du en grundig intro til hvad street foto er og et overblik over nogen af de kendte street-fotografer. Alt krydret med en masse gode eksempler på street fotos.</p>
				</article>
				<article class="prose">
					<h3 class="text-xl text-indigo-700 drop-shadow-md">Kapitel 2 - Om at skyde street</h3>
					<p>Vil du skyde street? Så er der ikke nogen vej udenom: Du skal ud på gaderne og prøve det! I dette kapitel får du en teknisk indføring i hvordan du bedst skyder street. Uanset om du er begynder eller professionel, er der mange gode tekniske tips og tricks til street-skyderiet.</p>
				</article>
				<article class="prose">
					<h3 class="text-xl text-indigo-700 drop-shadow-md">Kapitel 3 - Om at finde det rette motiv</h3>
					<p>Indimellem er man heldig, andre gange kommer man hjem helt uden gode motiver. Med et par tips og tricks til at finde de rette motiver, stiger chancen gevaldigt for at fange de gode motiver.</p>
				</article>
				<article class="prose">
					<h3 class="text-xl text-indigo-700 drop-shadow-md">Kapitel 4 - Digital street foto</h3>
					<p>De fleste af os skyder oftest digitalt fordi det er billigere og nemmere. Og nogen teknikker og fremgangsmåder egner sig kun til digital street foto. I dette kapitel får du en række tips og tricks til digital street-foto. </p>
				</article>
				<article class="prose">
					<h3 class="text-xl text-indigo-700 drop-shadow-md">Kapitel 5 - Analog street foto</h3>
					<p>Analog er sejt fordi det er mere “ægte,” dyrere og mere besværligt end digital. Det signalerer entusiasme. Nogle teknikker og fremgangsmåder egner sig bedst til analog street foto. I dette kapitel får du en række tips og tricks til analog street-foto. </p>
				</article>
				<article class="prose">
					<h3 class="text-xl text-indigo-700 drop-shadow-md">Kapitel 6 - Om at skyde sort/hvid</h3>
					<p>Alle street-fotografer skyder sort/hvid nu og da. Nogen altid. Hvorfor? Hvad er der specielt ved sort/hvid fotografering, og hvad adskiller sort/hvid fra farvefotografering? Her får du en række tips og tricks til sort/hvid fotografering. </p>
				</article>
				<article class="prose">
					<h3 class="text-xl text-indigo-700 drop-shadow-md">Kapitel 7 - Kreative teknikker </h3>
					<p>Dobbelteksponeringer, ICM (intentional camera moves), smadrede objektiver, gamle filmruller og alle mulige andre, spændende kreative teknikker kan løfte dine fotografier fra at være kedelige dokumentationer af hverdagen til at blive vilde kunststykker. Så dyk ned i dette kapitel om eksperimenterende teknikker!</p>
				</article>
				<article class="prose">
					<h3 class="text-xl text-indigo-700 drop-shadow-md">Kapitel 8 - Kom helt tæt på!</h3>
					<p>Street foto handler om at fotografere livet på gaden - men tør du at gå helt tæt på fremmede mennesker og knipse løs? Du kan lige så godt øve dig, for det er det der vil gøre dig til en bedre street-fotograf…</p>
				</article>			
				</div>
				   <div class="flex justify-center mt-8"> <!-- Add this container div -->
        <Button variant="secondary" size="medium" class="items-center">Download prøve kapitel her</Button>
    </div> 
		</section>
		

	<section id="forfatteren" class="grid lg:grid-cols-2 mt-32 max-w-3xl mx-auto gap-6"> 
    <div>
        <Image src={bogforfatter} alt="Sten Simons - forfatter, Københavnerbilleder" class="" />
    </div>
    <article class="prose">
        <h2 class="text-4xl text-indigo-700 vibrate-animation">Forfatteren</h2>
        <p>Sten Simons har en lang foto-karriere bag sig. Det hele startede i 00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens forfald. Det ledte til en række udstillinger, og blev senere til hans først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.”</p>
        <p>Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede en masse dagligdagsstof fra Amager på dagbladet “Amagerkaneren.” Sideløbende begyndte han at undervise i foto, og har skrevet et utal af bøger, herunder bestsellerne Scener fra S-toget, Brun mad - en visuel odysse, og lærebogen Fotografering for evnesvage.</p>        
    </article>
</section>



<section id="billeder" class="mt-32">
    <h2 class="text-4xl font-bold text-indigo-700 pb-6">Udvalgte billeder fra bogen</h2>
    <div class="columns-2 lg:columns-4">
        {
            images.map(({ src }, index) => (  // Added index parameter to map function
            <div class="">
                <img
                    src={src}
                    class={"mb-4" + (index % 5 === 0 ? " bouncing-image" : "")}  // Add bouncing-image class conditionally based on index
                    alt=""
                    loading="lazy"
                />
            </div>
            ))
        }
    </div>
</section>


<<<<<<< HEAD
	-->
=======
		<!-- tailwind form -->
	<section  id="formular" class="max-w-lg mx-auto mt-32 p-4">
		<h2 class="text-4xl font-bold pb-4 text-indigo-700">Køb bogen!</h2>
		<form class="space-y-4 grid grid-cols-1 gap-6">

			<div class="rounded-lg text-indigo-700">
				<label for="antal">Antal:</label>
				<input type="number" id="antal" name="antal" placeholder="1">
			</div>

			<div class="rounded-lg text-indigo-700">
				<span>Levering:</span>
				<input type="radio" id="postnord" name="levering">
				<label for="postnord" checked="checked">PostNord</label>
				<input type="radio" id="afhent" name="levering">
				<label for="afhent">Afhent selv</label>
			</div>
		
			<div class="grid gap-3 rounded-lg text-indigo-700">
				<label for="navn">Navn:</label>
				<input type="text" id="navn" name="navn" placeholder="Anders And">
			</div>

			<div class="grid gap-3 rounded-lg text-indigo-700">
				<label for="adresse">Adresse:</label>
				<input type="text" id="adresse" name="adresse" placeholder="Paradisæblevej 8">
			</div>

			<div class="grid gap-3 rounded-lg text-indigo-700">
				<label for="email">Antal:</label>
				<input type="email" id="email" name="email" placeholder="anders@andeby.dk">
			</div>

			<div class="grid gap-3 grid-cols-6 rounded-lg text-indigo-700">
				<label for="postnummer" class="col-span-6">Postnummer & by:</label>
				<input type="text" id="postnummer" name="postnummer" class="col-span-2" placeholder="0900">
				<input type="text" id="bynavn" name="bynavn" disabled class="col-span-4" placeholder="Andeby C">
			</div>

			<div class="grid gap-3 rounded-lg text-indigo-700">
				<label for="telefon">Telefon:</label>
				<input type="tel" id="telefon" name="telefon" placeholder="555-555">
			</div>

			<div class="rounded-lg ">
				<input type="checkbox" id="nyhedsbrev" name="nyhedsbrev">
				<label for="nyhedsbrev">Ja tak til nyhedsbreve og tilbud</label>
			</div>

			<div class="flex justify-end">
				<Button variant="primary" size="medium">Til betaling</Button>
			</div>
		</form>
	</section>
	<!-- tailwind form slut -->
>>>>>>> f063f1a8b67d8c146cc50c46d21a0c420dc612f0
</MainLayout>
<script>

import { inView } from "motion";

 

const bogfadein = document.querySelector(".bogfadein");

inView(bogfadein, () => {

bogfadein.classList.add("animate__animated", "animate__fadeInLeft", "animate__delay-1s");

}); 

 

const bogfadein2 = document.querySelector(".bogfadein2");

inView(bogfadein2, () => {

bogfadein2.classList.add("animate__animated", "animate__fadeInUp", "animate__delay-1s");

}); 

const bogfadein3 = document.querySelector(".bogfadein3");

inView(bogfadein3, () => {

bogfadein3.classList.add("animate__animated", "animate__fadeInRight", "animate__delay-1s");

}); 

const bogbillede = document.querySelector(".bogbillede");

inView(bogbillede, () => {

bogbillede.classList.add("animate__animated", "animate__headShake", "animate__infinite" );

}); 

</script>